.error {
    color: #f00;
    font-weight: bold;
}

.ng-invalid-duplicate .error {
    text-transform: uppercase;
}

.listItem.done {
    color: #ccc;
}

.listItem.done .itemDoneButton {
    display: none;
}

.selected {
	font-weight: bold;
}